# Configuration file for vispecs

[system]
wifi-ssid=examplessid
wifi-key=examplekey
system-name=vispecs
system-number=1

[ftp]
ftp-server=ftp.example.com
ftp-username=anonymous
ftp-password=anonymous
ftp-directory=incoming/vispecs/

[storage]
image-local=images/
spectrum-local=spectrum/
external=/mnt/flashdrive/
image-external=%(external)simages/
spectrum-external=%(external)sspectrum/

# Directory under which sent images will be stored
sent-dir=sent/
